/**
 * Animations
 */



.fromBottomIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromBottomOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(0,10px);
	opacity: 0.0;
}
